@media (max-width: 768px) {
    .div_2 img {
      width: 120px;
    }
  }
  
  @media (max-width: 576px) {
    .div_2 {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      /* gap: -120px; */
    }
  
    .div_2 img {
      width: 10%;
      gap: -100px;
        }
  }